

	main {
		max-width: 40rem;
		margin: auto;
		padding: 2rem 1rem;
	  }
	  
	 
	  .Add-article {
		margin: 2rem auto;
		padding: 1rem;
		background:#fdf4df;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-radius: 10px;
	  }
	  
	  .Add-article input {
		display: block;
		margin: 1rem auto;
		width: 20rem;
		padding: 0.5rem;
		border: 1px solid black;
		border-radius: 10px;
		outline: none;
	  }
	  
	  .Add-article button {
		width: 21rem;
		padding: 0.7rem;
		border: none;
		background:rgb(244, 240, 226);

		color: #fff;
		border-radius: 20px;
		cursor: pointer;
		outline: none;
	  }
	  
	  .Add-article button:hover {
		background:rgb(239, 200, 71);
	border:none
	  }
	  
	  .Add-article button:disabled {
		background:rgb(239, 200, 71);
		border: none;
	cursor: pointer;
	  }
	  
	  .Article {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem;
		background: #faedcf;
		border-radius: 10px;
	  }
	  
	  .Article:not(:last-child) {
		border-bottom: 2px solid rgb(239, 200, 71);

	  }
	  
	  .Article h1 {
		color: #222;
		text-transform: capitalize;
		font-weight: 600;
		font-family: cursive;
		font-size: 20px;

	  }
	  
	  .Article p {
		padding-right: 1rem;
		color: #444;
		font-family: cursive;
		font-weight: 900;
	  }
	  .Article button {
		padding: 0.5rem 0.7rem;
		font-family: cursive;
		font-weight: 900;
		background:#ECB100;
		color: #fff;
		cursor: pointer;
		outline: none;
		border: none;
	  }
	  
	  .Article button:hover {
		background: #e06a6a;
	  }
	  

	  .head3{
        
		font-size: 30px;
		font-family: cursive;
		font-weight: 900;
		color: rgb(239, 200, 71);
	    margin-top: 150px;
		padding-left: 250px;
		
		}